.player{
	background-color: #1b1b1b;
	z-index: 0;
	box-shadow: 3px 3px 20px black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: auto;
	padding: 30px;
}
.player video{
	width: 75%;
}

.player h1, p{
	font-family: 'Fredoka', sans-serif;
}
.player p{
	font-size: 18px;
}
.controles{	
	text-align: center;
	padding: 1px;
}
.controles img{
	height: 10px;
}
.controles a{
	color: #fff;
	text-decoration: none;
	background-color: #393939;
	padding: 10px;
	font-family: 'Fredoka', sans-serif;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.controles a:hover{
	background-color: #ff3600;
	transition: .3s;
}
.desc_ep{
}