body{
	background-color: #1b1b1b;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: arial;
}

#menu-bar{
	background-color: #0f0f0f;
	height: 50px;
	width: 100%;
	color: #fff;
	z-index: 1000;
}

#menu-bar img{
	float: left;
	height: 100%;
}
#menu-bar ul{
	float: left;
	display: inline;
}

#menu-bar ul li {
	list-style: none;
	display: inline-block;
}

#menu-bar a{
	margin: 10px 35px; 
	font-family: arial;
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

#menu-bar a:hover{
	color: #919191;
}

#container{
	width: 80%;
	height: 500px;
	background-color: red;
	margin: auto;
}

.player{
	background-color: #1b1b1b;
	z-index: 0;
	width: 29.33%;
	box-shadow: 3px 3px 20px black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	margin: 2%;
}

#vid{
	width: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	position: sticky;
}

.player p{
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
}


