body{
	background-color: #1b1b1b;
	margin: 0;
	padding: 0;
}

#menu-bar{
	background-color: #0f0f0f;
	height: 50px;
	width: 100%;
	color: #fff;
	position: fixed;
	z-index: 1000;
	opacity: 0.9;
}

#menu-bar img{
	height: 100%;
	float: left;
}

#menu-bar ul li {
	list-style: none;
	display: inline-block;
}

#menu-bar a{
	margin: 10px 35px; 
	font-family: arial;
	color: #fff;
	text-decoration: none;
}

#menu-bar a:hover{
	color: #919191;
}

#container{
	width: 80%;
	height: 1500px;
}




#player{
	background-color: red;
	width: 100%;
	z-index: 0;
}
