@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
	background-color: #1b1b1b;
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: arial;
}

#logo{
	font-family: 'Bangers', cursive;
	float: left;
	margin: 0;
	padding: 0;
	font-size: 35px;
	transform: rotate(10deg);
}
#menu-bar{
	background-color: #0f0f0f;
	width: 100%;
	color: #fff;
	z-index: 1000;
}

#menu-bar img{
	float: left;
	height: 100%;
}
#menu-bar ul{
	background-color: #ff3600;
	list-style: none;
	padding: 0;
	margin-top: 0;
	
}

#menu-bar ul li{
	display: inline-block;
}

#menu-bar ul li a{
	font-family: 'Fredoka', sans-serif;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	display: inline-block;
}

#menu-bar ul li a:hover{
	color: #f90;
}
/*SUB MENU*/
#menu-bar ul ul{
	display: none;
	background-color: #0f0f0f;
}

#menu-bar ul li:hover ul{
	display: block;
	width: 140px;
	position: absolute;
	
}
#menu-bar ul ul li a{
}
/* ====================================================*/


#container{
	width: 80%;
	margin: auto;
	padding: 0;
}

.player{
	background-color: #1b1b1b;
	z-index: 0;
	box-shadow: 3px 3px 20px black;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin: auto;
	padding: 30px;
}
.player video{
	width: 50%;
	margin: auto;
}

.player h1, p{
	font-family: 'Fredoka', sans-serif;
}
.player p{
	font-size: 18px;
}
